* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

div form {
  height: 65vh;
  width: 220px;
  margin: 10px;
}

input {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  background-color: lightgrey;
}

button {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
}
